body{
    background-image: url("https://images.ctfassets.net/cnu0m8re1exe/UZzmRKCNPTYwqb5VLr0ns/d3f8240497a520717814b4be13e57a40/Man-Sleeping.jpg?w=650&h=433&fit=fill");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Work Sans', sans-serif; 
    color: black;
     font-weight: bold;
     background-color: white;

}