body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPp-RedvFoAc7KjNeMZlFNx7f3vJW-R1lqoA&usqp=CAU);

background-repeat:no-repeat;
background-size:cover;
font-family: 'Mulish', sans-serif;
color:white;
text-align: center;
font-size: 23px;

}